<div class="bg-dark text-white text-center fixed-bottom">Sitio desarrollado por
  Lucas Sansberro para el curso de Backend en Coderhouse
  <span class="ms-5 ps-5"><a class="link-light" href="#navbar">↑</a></span></div>