<ul class="list-unstyled pt-3">
  <li>
    <a class="mx-5 " href="/api/usuarios/login">Formulario</a>
    <a class="mx-5" href="/api/productos">Productos</a>
    <a class="mx-5" href="/api/productos/random">Productos random</a>
    <a class="mx-5" href="/api/usuarios/info">Datos de sesión</a>
  </li>
</ul>