<ul class="list-unstyled pt-3">
  <li>
    <a class="mx-5 " href="/">Formulario</a>
    <a class="mx-5" href="/productos">Productos</a>
    <a class="mx-5" href="/productos-test">Productos random</a>
  </li>
</ul>