{{> navbar}}
<br/>

<div class="container my-5 d-flex justify-content-between">
  <h1 class="text-center">Bienvenido {{user.username}}</h1>
  <form action="/api/usuarios/logout" method="post">   
    <button class="btn btn-primary">Cerrar sesión</button>
  </form>
</div>
<form  class="container d-flex flex-column" action="/productos" method="POST" enctype="multipart/form-data">
  <label for="title">Título</label>
      <input type="text" name="title" />
      <br />
      <label for="description">Descripción</label>
      <input type="text" name="description" />
      <br />
      <label for="code">Código</label>
      <input type="text" name="code" />
      <br />
      <label for="price">Precio</label>
      <input type="number" name="price" />
      <br />
      <label for="stock">Stock</label>
      <input type="number" name="stock" />
      <br />
      <label for="thumbnail">Thumbnail (URL)</label>
      <input type="text" name="thumbnail" />
      <br />
      <input type="submit" value="Agregar producto" />
      <br />
</form>

<div class="container d-flex flex-column justify-content-between border border-4">
  <h2 class="text-center m-5">Últimos productos agregados</h2>
  <div id="lastProducts" class="container d-flex justify-content-center justify-content-lg-between flex-wrap ">
    {{!-- JS InnerHTML --}}
  </div>
</div>

<div class="container mt-5 border border-4 p-5">
  <h2 class="text-center">Chat en vivo</h2>
<form onsubmit="return sendMsg()" class="d-flex justify-content-around p-5 row">
  <div class="d-flex justify-content-between py-3">
    <label for="email">Inserte su correo electrónico</label>
    <input id="userEmail" type="email" name="email" required />
  </div>
  <hr>
  <div class="d-flex justify-content-between py-3">
    <label for="nombre">Inserte su nombre</label>
    <input id="userName" type="text" name="nombre" required />
  </div>
  <hr>
  <div class="d-flex justify-content-between py-3">
    <label for="apellido">Inserte su apellido</label>
    <input id="userLastName" type="text" name="apellido" required />
  </div>
  <hr>
  <div class="d-flex justify-content-between py-3">
    <label for="edad">Inserte su edad</label>
    <input id="userAge" type="number" name="edad" required />
  </div>
  <hr>
  <div class="d-flex justify-content-between py-3">
    <label for="alias">Inserte su alias</label>
    <input id="userUser" type="text" name="alias" required />
  </div>
  <hr>
  <div class="d-flex justify-content-between py-3">
    <label for="avatar">Inserte la url de su avatar</label>
    <input id="userIcon" type="text" name="avatar" required />
  </div>
  <hr>
  <div class="d-flex justify-content-between py-3">
    <label for="message">Inserte su mensaje</label>
    <input id="userMsg" type="text" name="message" required/>
  </div>
  <hr>
  <input type="submit" value="Enviar" />
</form>
<div class="d-flex container justify-content-between my-5">
<h4>Tamaño de mensajes normalizados: <span id="normalizados"></span></h4>
<h4>Tamaño de mensajes desnormalizados: <span id="desnormalizados"></span></h4>
</div>
<div id="div-chats" class="container d-flex flex-column border border-2">
  {{!-- JS InnerHTML --}}
</div>
</div>

<br/>
{{> footer}}
<br/>