{{> navbar}}
<br/>

<form  class="container d-flex flex-column" action="/login" method="POST" enctype="multipart/form-data">
<h2>Login de usuario</h2>
  <label for="user">Por favor, ingrese su nombre</label>
      <input type="text" name="user" />
      <br />
      <input type="submit" value="Enviar" />
</form>

<br/>
{{> footer}}
<br/>