<br/>

<div class="text-center d-flex flex-column">
<h1 class="my-3">Error</h1>
<h2 class="my-3">Necesita iniciar sesión para acceder a esta página</h2>
<a href="/api/usuarios/login" class="my-3 h2">Inicie sesión aquí</a>
</div>

<br/>
{{> footer}}
<br/>