<br/>

<div class="text-center d-flex flex-column">
<h1 class="my-3">Error</h1>
<h2 class="my-3">Ya existe un usuario con ese nombre</h2>
<a href="/register" class="my-3 h2">Inténtelo nuevamente</a>
</div>

<br/>
{{> footer}}
<br/>