{{> navbar}}
<br/>

<form  class="container d-flex flex-column" action="/register" method="POST" enctype="multipart/form-data">
  <h2>Registro de usuario</h2>
  <label for="user">Por favor, ingrese su usuario</label>
  <input type="text" name="user" />
  <br />
  <label for="user">Por favor, ingrese su contraseña</label>
  <input type="text" name="user" />
  <br />
  <input type="submit" value="Enviar" />
</form>

<br/>
{{> footer}}
<br/>