.img-holder {
  position: relative;
  height:20em
}
.img-holder .detailButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border:none;
  background-color:transparent
}
.detailButtonImage {
  width:35px;
  height: 35px;
}

.detailImage {
  width:400px;
  height: 400px;
}
